<?xml version="1.0"?>
<launch>
  <master auto="start"/>
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_2dnav)/map/map.yaml"/>


  <node name="amcl" pkg="amcl" type="amcl" output="screen" >
        <remap from="scan" to="/gazebo/laser_scan" />
        <param name="min_particles" value="100"/>
        <param name="max_particles" value="500"/>
        <param name="use_map_topic" value="true"/>
        <param name="first_map_only" value="true"/>
        <!-- Laser model parameters -->
        <param name="laser_min_range" value="0.1"/>
        <param name="laser_max_range" value="30"/>
        <param name="laser_max_beams" value="720"/>

        <!-- Odometery model parameters -->
        <param name="odom_model_type" value="omni"/>
        <param name="odom_frame_id" value="/odom_combined"/>
        <param name="base_frame_id" value="/base_link"/>
        <param name="global_frame_id" value="/map"/>

  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="/gazebo/cmd_vel" />
    <remap from="scan" to="/gazebo/laser_scan" />
    <rosparam file="$(find robot_2dnav)/nav_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_2dnav)/nav_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot_2dnav)/nav_config/local_costmap.yaml" command="load" />
    <rosparam file="$(find robot_2dnav)/nav_config/global_costmap.yaml" command="load" />
    <rosparam file="$(find robot_2dnav)/nav_config/base_local_planner.yaml" command="load" />

  </node>
</launch>